.playground-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .header-container {
    text-align: center;
    background: #000;
    color: white;
    flex-grow: 1;
    padding: 20px;
  }
  .icon-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .containt-container {
    height: 100vh;
    background-color: #ededed;
    gap: 20px;
    display: grid;
    flex-grow: 1;
    grid-template-columns: 3fr 2fr;

    .editor-container {
      grid-row: 1/3;
    }

    .input-output-container {
      background-color: white;
      display: flex;
      flex-direction: column;
      .input-header {
        background-color: #ededed;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      textarea {
        flex-grow: 1;
        border: none;
        resize: none;
        padding: 10px;
        font-size: 20px;
      }
      button {
        border: none;
      }
      textarea:focus {
        outline: none;
      }
    }
  }
  .fullpage-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    align-items: center;
    justify-content: center;
    .loader {
      width: 100px;
      height: 100px;
      background-color: transparent;
      border: 10px solid transparent;
      border-left-color: white;
      border-radius: 50%;
      animation: loader 1s infinite linear;
    }

    @keyframes loader {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
